
    <span id="price-injection-save">Save <span class="price-save-hidden"></span> </span>



<script type="text/x-magento-init">
    {
        "*": {
            "save-injector": {},
            "addCartZIndex": {},
            "sizeChart-injector": {},
            "customContainer": {},
        }
    }

</script>
