  .extra-content-main-header-text {
        display: block;
        font-family: 'Roboto', 'Roboto', Helvetica, Arial, sans-serif;
        font-weight: 700;
        font-size: 1.4rem;
        text-align: left;
        padding-left: 10px;
    }

    .extra-content-container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
    }

    .extra-content-flex-child {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 20px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        text-align: center;
    }

    .extra-content-main-image {
        display: block;
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
        border-radius: 50%;
    }

    .extra-content-heading {
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        color: #000;
        font-size: 19px;
        line-height: 20px;
        text-align: center;
    }

    .extra-content-small-container {
        display: block;
        padding-right: 20px;
        padding-left: 20px;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        color: #000;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
    }

    .extra-content-hr-line-green {
        display: block;
        width: 15%;
        margin-right: auto;
        margin-left: auto;
        border-bottom: 5px solid #a9b089;
        border-radius: 4px;
        text-align: center;
    }

    .extra-content-text-blurb {
        display: block;
        margin-top: 15px;
        margin-right: auto;
        margin-left: auto;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        color: #525252;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
    }

    .extra-content-text-blurb-height {
        width: 100%;
    }

    @media (max-width: 991px) {
        .extra-content-text-blurb {
            padding-right: 15px;
            padding-left: 15px;
        }
    }

    @media (max-width: 767px) {
        .extra-content-container {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
        }

        .extra-content-flex-child {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            -webkit-align-content: center;
            -ms-flex-line-pack: center;
            align-content: center;
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        }

        .extra-content-small-container {
            display: block;
            margin-right: auto;
            margin-left: auto;
            padding-right: 60px;
            padding-left: 60px;
        }
    }

    @media (max-width: 479px) {
        .extra-content-small-container {
            padding-right: 30px;
            padding-left: 30px;
        }

        .extra-content-text-blurb {
            width: 95%;
            padding-right: 0px;
            padding-left: 0px;
            font-size: 13px;
            line-height: 18px;
        }
    }
