
.breadcrumbs {
    .items {
        font-size: 14px;
        list-style: none none;

        .item {
            a{
                color: @color-black__2;
            }

            &.product {
                color: @color-gray__1;
            }
        }
    }
}
.button (@width,@f-size) {
    width: @width;
    background: @color-blue-button__bg;
    border: 1px solid @color-blue-button__bg;
    color: @color-white;
    margin-bottom: 5px;


    span {
        text-transform: uppercase;
        font-family: @font-family-Roboto-condenced;
        font-weight: 700;
        font-size: @f-size;
    }
}
.review-list {
    .block-title {
        strong {
            font-size: 16px;
            text-transform: uppercase;
            line-height: 28.6px;
            font-weight: 700;
        }

    }

    .block-content {

        //to change color of stars start
        .review-ratings {
            .rating-summary {
                .rating-result {
                    span {
                        &:before {
                            color: @color-golden;
                        }
                    }

                }
            }
        }

        //to change color of stars end

    }
}
& when (@media-common = true) {

    ///////////////////////////////testing work////////////////////////////////

    .page-wrapper {
        #maincontent {
            .columns {
                .column.main {
                    //////////////////////////right-side//////////////////////////////






                    /////////////////////////////left-side/////////////////////////////
                    .product.media {
                        .gallery-placeholder {
                            .magnifier-preview {
                                &:not(.hidden) {
                                    zoom: 2;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    ////////////////////////////applied to the header////////////////////////////////////
    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
    }

    .navigation > ul {
        display: flex;
        justify-content: center;
    }

    .header {
        background: @background-header-green-color;
    }

    .page-title-wrapper {
        display: none;
    }

    //-> start extended

    .return-link {
        display: inline-block;

        a {
            font-size: 16px;
            line-height: 21px;
            font-weight: 700;
            color: @white-color;
            text-decoration: none;

            &:before {
                content: '';
                background: url(../images/image-globe.svg);
                background-repeat: no-repeat;
                display: inline-block;
                width: 15px;
                height: 12px;
                margin-right: 5px;

            }

            img {
                margin-right: 3px;
            }
        }
    }

    //-> end extended


    //-> start phone-numbers

    .phone-numbers {
        @media (max-width: 800px) {
            display: none;
        }
        display: inline-block;

        &:before {
            content: "";
            background: url(../images/header-phone.svg) no-repeat;
            width: 15px;
            height: 15px;
            display: inline-block;
            position: relative;
            top: 2px;
        }

        ul {
            display: inline-grid;

            li {
                list-style: none;
                text-decoration: none;
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;

                a {
                    color: @black-color;
                    font-size: 14px;
                    font-weight: 700;
                    text-decoration-color: rgb(37, 44, 38);
                    text-decoration-line: none;
                    text-decoration-style: solid;
                }
            }
        }
    }

    //-> end phone-numbers
    .panel.header {
        // adding padding
        padding: 2px 10px !important;

        .header.links {
            display: none;
        }
    }

    .account-settings {
        display: inline-block;
        float: right;

        .account-link, .account-currency {
            color: white;
            text-decoration: none;
        }

    }

    .activeDropdown {
        display: inline-grid !important;
    }

    //    to remove a border-bottom line start and customize a tooltip
    .page-header {
        //to remove a bg from both sides
        .panel.wrapper {
            border-bottom: none !important;
            background: none !important;
        }
    }

    //    to remove a border-bottom line end

    // to remove bg from navigation start
    .nav-sections {
        background: none;
        z-index: 0;

        .section-items.nav-sections-items{
            li.active{
                a{
                    border-bottom-color: @color-black__3;
                }
            }
        }
    }

    // to remove bg from navigation end
    .header {
        &.content {
            padding: 30px 20px 25px !important;
        }
    }
}
.block.product-custom-container{
    margin-bottom: 20px;

    //up
    .widget{
        .extra-content-main-header-text{
            padding-left: 0;
        }
    }
    //Button
    .actions-toolbar{

        .primary{
            @media (min-width: 768px) {
                width: 70%;
                float: none;
                margin: 0 auto;
                display: block;
            }
            button{
                .button(70%,15px);
                padding: 12px 30px;
                @media (max-width: 768px) {
                    width: 100%;

                }
            }
        }
    }
}
.product.info.detailed {
    border-bottom: @product-info-detailed__border;
    margin-bottom: 20px;

    .product.data.items {
        margin: 0;
        padding: 0;

        .data.item.title {
            .switch {
                color: @color-black__2;
                font-weight: 700;
                padding: 1px 10px;
            }
        }

        .data.item.content {
            margin: 0;
            padding: 10px 10px 30px;

            .value {
                @media (min-width: 768px) {
                    display: inline-block;
                    width: 59%;
                    vertical-align: top;
                }
                h2{
                    margin-top: 0;
                    text-transform: none;
                    font-weight: 600;
                    letter-spacing: 0;

                }
                p{
                    margin-bottom: 10px;
                }
                ul{
                    padding-left: 40px;
                    margin-bottom: 25px;
                    li{
                        margin-bottom: 10px;
                        list-style-type: disc;

                    }
                }
            }

            .product-details-container {
                @media (min-width: 768px) {
                    display: inline-block;
                    width: 38%;
                    vertical-align: top;
                    margin-left: 15px;
                }
                .our-mission-container{
                    max-width: 430px;
                    margin: 0 auto;
                    padding: 6px;
                    border: 1px solid @color-gray__2;
                    .our-mission-text-container{
                        padding: 15px 25px;
                        border: 1px dashed @color-gray__3;
                        color: @color-black__6;
                        text-align: center;
                        .our-mission-header-text{
                            margin-top: 0;
                            margin-bottom: 10px;
                            color: @color-blue-button__bg;
                            font-size: 16px;
                            line-height: 20px;
                            font-weight: 700;
                            text-align: center;
                        }
                        .our-mission-subtext-paragraph{
                            padding-bottom: 15px;
                            color: @color-gray__4;
                            font-size: 14px;
                            line-height: 18px;
                            font-style: italic;
                            text-align: center;
                        }
                        .our-mission-footer-text{
                            display: inline-block;
                            color: @color-black__7;
                            font-size: 13px;
                            line-height: 20px;
                            text-align: center;
                        }
                    }
                }
            }

            .shipping-info{
                p{
                    margin-bottom: 10px;
                }
            }
        }
    }
}
.product.info.detailed {
    .product.data.items {
        ////////////trigger////////
        .data.item.title {
            &.active{
                a{
                    &:after{
                        content: '\e621';
                        position: absolute;
                        right: 10px;
                        top: 1px;
                        font-size: 14px;
                        vertical-align: middle;
                        display: inline-block;
                        font-weight: 400;
                        overflow: hidden;
                        speak: none;
                        text-align: center;
                    }
                }
            }
            float: none;
            .switch{
                padding: 0;
                background-color: #fff;
                border-bottom: none;
                border-right:none;
                border-left: none;
                //border-top: @product-info-detailed__border;
                &:after{
                    position: absolute;
                    right: 10px;
                    top: 1px;
                    vertical-align: middle;
                    display: inline-block;
                    font-weight: 400;
                    overflow: hidden;
                    speak: none;
                    text-align: center;
                    font-size: 14px;
                    content: '\e622';
                }
                &#tab-label-additional-title{
                    //border-bottom: @product-info-detailed__border;
                }
            }
        }
        ///////////colapsible-part////////////
        .data.item.content {
            float: none;
            margin-left: 0;
            border: none;
        }
    }
}
.product-info-main {

    .page-title-wrapper.product {
        .page-title {
            margin-bottom: 0;
        }
    }

    .product-reviews-summary {
        margin-bottom: 10px;
        display: flex;
        align-items: baseline;

        .product.attribute.sku {
            display: inline-block;
            padding-right: 7%;
            color: @color-gray__1;
        }

        .rating-summary {
            align-self: end;
            color: @color-golden;

            .label {
                border: 0;
                clip: rect(0, 0, 0, 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }

            .rating-result {
                width: 88px;
                display: inline-block;
                position: relative;
                vertical-align: middle;

                &:before {
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    z-index: 1;
                    -webkit-font-smoothing: antialiased;
                    color: #c7c7c7;
                    font-family: 'luma-icons';
                    font-size: 16px;
                    height: 16px;
                    letter-spacing: 2px;
                    line-height: 16px;
                    content: '\e605' '\e605' '\e605' '\e605' '\e605';
                    display: block;
                    font-style: normal;
                    font-weight: 400;
                    speak: none;
                }

                span {
                    &:before {
                        position: relative;
                        z-index: 2;
                        -webkit-font-smoothing: antialiased;
                        color: @color-golden;
                        font-family: 'luma-icons';
                        font-size: 16px;
                        height: 16px;
                        letter-spacing: 2px;
                        line-height: 16px;
                        content: '\e605' '\e605' '\e605' '\e605' '\e605';
                        display: block;
                        font-style: normal;
                        font-weight: 400;
                        speak: none;
                    }
                }
            }
        }

        .reviews-actions {
            font-size: 14px;
            margin-top: 3px;

            a {
                color: @color-black__2;
            }
        }
    }

    .product-info-price {
        width: 66%;
        border: none;
        @media (max-width: 640px ) {
            &:after {
                content: ""; /* This is necessary for the pseudo element to work. */
                display: block; /* This will put the pseudo element on its own line. */
                margin: 0 auto; /* This will center the border. */
                padding-top: 20px; /* This creates some space between the element and the border. */
                border-bottom: 1px solid @color-white__2;
                width: ~"calc(100% - 20px)" !important;
            }

        }

        &:after {
            content: ""; /* This is necessary for the pseudo element to work. */
            display: block; /* This will put the pseudo element on its own line. */
            margin: 0 auto; /* This will center the border. */
            width: 100%; /* Change this to whatever width you want. */
            padding-top: 20px; /* This creates some space between the element and the border. */
            border-bottom: 1px solid @color-white__2;
        }

        .price-box.price-final_price {
            display: inline-flex;
            color: @color-black__2;

            .normal-price {
                order: 2;

                .price-container {
                    .price-label {
                        margin: 0;
                    }

                    span[id^="product-price"] {
                        margin-bottom: 0;
                    }
                }
            }

            .old-price {
                margin-right: 15px;

                .price-container {
                    display: inline-flex;
                    align-items: baseline;
                    padding-top: 7%;

                    .price-label {
                        margin-right: 5%;
                        font-size: 16px;
                        color: @color-black__2;
                    }

                    .price {
                        text-decoration: line-through;
                        font-size: 16px;
                        color: @color-gray__1;
                    }
                }
            }
        }

        #price-injection-save {
            @media (max-width: 1200px ) {
                width: 100%;
            }
            @media (max-width: 640px ) {
                padding: 0;
                width: ~"calc(100% - 10px)";
            }

            float: right;
            padding-top: 2%;
            font-size: 24px;
            color: @color-red__1;
            text-transform: lowercase;
        }
    }

    .product.attribute.overview {
        margin: 25px 0 0 0;

        .ksp-list {
            line-height: 14px;
            padding-left: 15px;
            font-size: 14px;

            li {
                list-style-type: disc;
                margin-bottom: 10px;
            }
        }
    }

    .product-add-form {
        position: relative;

        .product-options-wrapper {
            .swatch-attribute.size {
                .swatch-option-color__chart {
                    margin-left: 58px;
                }

                .swatch-option {

                    height: 30px;
                    background: @color-white;
                    color: @color-black__2;
                    border: 1px solid @color-white__1;
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 20px;
                    padding: 4px 8px;
                    min-width: 30px;
                    margin-right: 7px;
                    box-sizing: border-box;
                    text-overflow: ellipsis;

                    &.selected {
                        color: @color-white;
                        background: @color-black__2 !important;
                        border: 1px solid @color-black__2;
                        outline: none;
                    }

                    &:not(.disabled) {
                        &:hover {
                            outline: 1px solid @color-black__2;
                            border: 1px solid @color-white;
                            color: @color-black__5;
                        }
                    }
                }
            }

            .swatch-attribute.color {

                .swatch-option.image {
                    border: 1px solid @color-white__1;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 35px;
                    height: 35px;
                    box-sizing: border-box;
                    margin: 0 6px 6px 0;

                    &:first-child {
                        border: 1px solid @color-white;
                        outline: 2px solid @color-black__4;
                    }

                    &.selected {
                        outline: none;
                    }

                    &:focus {
                        box-shadow: 0 0 3px 1px @color-blue__1;
                    }

                    &:not(.disabled) {
                        &:hover {
                            border: 1px solid @color-white;
                            outline: 2px solid @color-black__4;
                        }
                    }
                }
            }

        }

        .product-options-bottom {
            .box-tocart {
                margin: 0;

                .fieldset {
                    margin: 0;
                }

                .field {
                    display: inline;
                    position: absolute;
                    bottom: 72px;
                    left: 257px;


                    .input-group {
                        display: flex;

                        input {
                            width: 40px;
                            text-align: center;
                        }
                    }
                }

                .actions {
                    max-width: 377px;

                    button {
                        width: 100%;
                        background: @color-blue-button__bg;
                        border: 1px solid @color-blue-button__bg;
                        color: @color-white;
                        margin-bottom: 5px;

                        span {
                            text-transform: uppercase;
                            font-family: @font-family-Roboto-condenced;
                            font-weight: 700;

                            &:after {
                                content: url(https://www.theirishstore.com/static/version1602586299/frontend/TheIrishStore/default/en_US/images/tis-icon-shoppingbag--tocart.svg);
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }

        }
    }

    .product-social-links {
        max-width: 377px;

        .product-addto-links {
            a {
                margin: 0;
                display: flex;
                flex-direction: row-reverse;

                &:before {
                    margin: 0 0 0 5px;
                }

                &:not(:first-child) {
                    display: none;
                }

                span {
                    font-size: 16px;
                }
            }

        }
    }



}
.product-info-main {
    display: flex;
    flex-direction: column;

    .page-title-wrapper {
        display: block;
    }

    .maintopwebsitebannerpp {
        order: 1;
    }

    .product-info-price {
        order: 1;
    }

    .product-add-form {
        order: 2;

        .product-options-wrapper {
            .fieldset {
                .swatch-opt {
                    display: flex;
                    flex-direction: column-reverse;

                }
            }
        }
    }

    .product-social-links {
        order: 2;
    }

    .product.attribute.overview {
        order: 1;
    }
}
.product.media{
    .gallery-placeholder{
        .fotorama-item{
            .fotorama__thumb-border{
                border: 1px solid @color-black__8;
            }
        }
    }
}
.related {
    .block-title {
        border-top: @product-info-detailed__border;
        padding-top: 20px;
    }
    .block-content{
        .block-actions{
            display: none;
        }
    }
}
.reviews-header {
    margin-bottom: 20px!important;
    padding: 14px;
    font-weight: 700;
    text-align: center;
    background: @color-white__3;

    .block-content {
        display: flex;
        justify-content: center;
        align-items: baseline;

        @media (max-width: 540px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .title {
            font-weight: 700;
            text-align: center;
        }

        .rating-info {
            display: flex;
            align-items: baseline;

            .rating {
                margin-left: .6rem;
                font-size: 2.6rem;
                color: @color-golden;
            }

            .outof {
                opacity: .5;
                align-self: end;
            }

            .rating-summary {
                display: inline-block;
                margin-left: 10px;
                margin-right: 10px;
                overflow: hidden;
                white-space: nowrap;

                .rating-result {
                    display: block;
                    width: 128px;
                    position: relative;
                    vertical-align: middle;

                    &:before {
                        left: 0;
                        position: absolute;
                        top: 0;
                        width: 100%;
                        z-index: 1;
                        -webkit-font-smoothing: antialiased;
                        color: @color-gray__3;
                        letter-spacing: 2px;
                        content: '\e605' '\e605' '\e605' '\e605' '\e605';
                        display: block;
                        font-style: normal;
                        font-weight: 400;
                        speak: none;
                        font-size: 24px;
                        height: 24px;
                        line-height: 26px;
                    }

                    span {
                        display: block;

                        &:before {
                            font-size: 24px;
                            height: 24px;
                            line-height: 26px;
                            position: relative;
                            z-index: 2;
                            color: @color-golden;
                            display: block;
                            font-style: normal;
                            font-weight: 400;
                            letter-spacing: 2px;
                        }
                    }
                }
            }
        }
    }
}

