
html {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-x: hidden;

    body {
        padding: 0;
        position: relative;
        z-index: 0;
        margin: 0 auto;
        font-family: Roboto, Roboto, Helvetica, serif;
        overflow-x: hidden;
        color: @color-black__2;
    }

    p {
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: @color-black__2;
        &:visited{
            color: inherit;
        }
    }

    img {
        border: none;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        padding: 0;
        font-weight: 400;
    }

    h1 {
        font-weight: 400;
        line-height: 26.4px;
        font-size: 24px;
    }

    h2 {
        font-size: 16px;
        font-weight: 600;
        line-height: 17.6px;
        margin-bottom: 20px;
    }

    strong {
        font-weight: bold;
    }

    em {
        font-style: italic;
    }

    form, menu, iframe {
        display: block;
        margin: 0;
        padding: 0;
        border: none;
    }

    ol, ul, dl, li, dt, dd {
        margin: 0;
        padding: 0;
        list-style: none;
    }


    table {
        width: 100%;
        border-collapse: collapse;
    }

    * {
        outline: none;
        //font-family: 'Open Sans', sans-serif;
    }
}
