<?php
/**
 * @var $block Template
 */

use Magento\Framework\View\Element\Template;

?>

<!--<div class="phone-numbers" data-mage-init='{"getRich": {}}'>-->
<div class="phone-numbers">
<ul>
<li><a href="tel:1-800-707-5037">US 1-800-707-5037</a></li>
<li><a>INT +353 1 861 1590</a></li>
</ul>
</div>



