@import "banner";
@import "burger";
@import "colors";
@import "custom-classes";
@import "fonts";
@import "header";
@import "main-feature-bottom";
@import "main-feature-middle";
@import "main-feature-top";
@import "main-transform";
@import "navbar";
@import "normalize";
@import "slider";
@import "youtube";

//->minicart-logo overriding the default one by Irish store Start
.minicart-wrapper .action.showcart:before{
    content: url("../images/shoppingbag.svg");
    background-size: 28px 28px;
    height: 28px;
    width: 28px;
    display: inline-block;
    position: relative;
    top: 9px;
}
//->minicart-logo overriding the default one by Irish store End
