@import "colors";

section {
  font-family: Roboto, Roboto, Helvetica, Arial, sans-serif;

  .banner-bg {
    background-image: url("../images/banner-bg.jpg");
    min-height: 350px;
    background-position-x: 50%;
    background-position-y: 50%;
    background-attachment: scroll;
    background-clip: border-box;
    background-size: cover;

    .container {
      display: flex;
      flex-basis: 0;
      flex-direction: column;
      color: @white-color;
      min-height: inherit;
      align-items: center;
      justify-content: center;
      color: @white-color;

      div {

        text-shadow: 0 0 10px rgba(0, 0, 0, 1), 0 0 20px rgba(0, 0, 0, 1);

        &:nth-child(1) {
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          height: 0;
          letter-spacing: 2px;
          line-height: 0;
          margin-bottom: 10px;
        }

        &:nth-child(2) {
          font-size: 85px;
          font-style: normal;
          font-weight: 700;
          height: 88px;
          line-height: 88px;
        }

        &:nth-child(3) {
          font-size: 26px;
          font-style: normal;
          font-weight: 700;
          height: 24.8px;
          line-height: 25px;
        }

        &:nth-child(4) {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          height: 37.6px;
          line-height: 38px;
          span{
            color: #f1c761;
            text-transform: uppercase;
          }
        }

        &:nth-child(5) {
          margin-top: 15px;
          text-shadow: none;

          a {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            height: 20px;
            line-height: 20px;
            background: @white-color;
            padding: 8px 20px;
            text-transform: uppercase;
            color: @black-color;

            &:hover {
              background-color: hsla(0, 0%, 100%, .7);
              text-decoration: none;
            }
          }

        }


      }
    }

  }

  .banner-bottom-disclaimer {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 10px;
    text-align: center;
    text-size-adjust: 100%;
    background: #2e2b32;
    color: @banner-discl-color;
    margin-bottom: 20px;
  }
}